
   
   @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
   

  body {
      font-family: 'Lato', Helvetica, sans-serif;
      margin: 2%;
      
    
  }
  img {
    border: 5px solid #B6AEAD ;
  }

   
   
    .venicetext {
    margin-left:1%;
          
}
.cityheading {
    text-align: center;
}
.table {
    text-align: center;
}
.historicalheading {
    text-align: center;
}
    table, th, td {
        border: 1px solid black;
    }
    table {
        border-collapse: collapse;
      }
         
    .headercontainer {
        display: flex;
        margin: auto;
        width: 50%;
        padding: 1%;
    }
    .header {
        margin-right: 5%;
        margin-top: 15%;
    }
    
    .containerdistrict {
        padding: 2%;
    }
    .containeriziko {
        padding: 2%;
    }
    .containerlodge {
        padding: 2%;
    }
        @media(min-width:600px) {
        .headercontainer {
            display: flex;
        }   

    .containerhistorical {
        display:flex;
    }
    .citycontainer {
        display:flex;
    }

.districttext {
        float: left;
    }

    .districtsix {
        float: right;
        
    }
      .slavelodge {
        float: right;
        
    }
    .iziko {
        float: right;
    }
    
        }


    
    