
   
   @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
   

  body {
      font-family: 'Lato', Helvetica, sans-serif;
  }
  img {
    border: 5px solid #B6AEAD ;
  }

   
   
    .venicetext {
    margin-left:1%;
          
}
.cityheading {
    text-align: center;
}
.table {
    text-align: center;
}
.historicalheading {
    text-align: center;
}
    table, th, td {
        border: 1px solid black;
    }
    table {
        border-collapse: collapse;
      }
    .containerhistorical {
    margin-top: 5%; 
    }       
    .headercontainer {
        display: flex;
        margin: auto;
        width: 50%;
        padding: 1%;
    }
    .districtsix{
        margin-right: 5%;
    }
    .iziko {
        margin-right: 5%;
    }
    .slavelodge {
        margin-right: 5%;
        margin-left: 1%;
    }

    .containerdistrict, .containeriziko, .containerlodge  {
        display: flex;
    } 
        @media(min-width:600px) {
        .headercontainer {
            display: flex;
        }
    }  
         @media(min-width:600px) {
    .containerhistorical {
        display:flex;
    }
}

        @media(min-width:600px) {
    .citycontainer {
        display:flex;
    }
}

    



    
    